<div class="navbar-sidebar-container">
  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-lg-none" href="#">
      <img src="../images/auth-image/logo2.png" alt="Logo" class="logo-mobile"/>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <!-- Centered Search Section -->
      <form class="d-flex mx-auto search-form">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>

      <!-- Right Section -->
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <div class="profile-image">
            <img
              src="../images/auth-image/profile.png"
              alt="Profile"
              class="rounded-circle"
            />
          </div>
        </li>
      </ul>
    </div>
  </nav>

<!-- Sidebar Section -->
<div class="sidebar" [class.active]="isSidebarActive">
  <div class="sidebar-logo d-none d-lg-block">
    <img src="../images/auth-image/logo2.png" alt="Logo" class="logo-desktop" />

    <!-- Toggle Button for Large Screens -->
    <button class="sidebar-toggler d-none d-lg-block" (click)="toggleSidebar()">
      <span *ngIf="!isSidebarActive">☰</span>
      <span *ngIf="isSidebarActive">×</span>
    </button>
  </div>
  <ul class="list-unstyled">
    <li><a  routerLink="/dashboard/dashboard" class="text-dark">Dashboard</a></li>
    <li><a  routerLink="/dashboard/properties" class="text-dark">My Properties</a></li>
    <li><a  routerLink="" class="text-dark">Sales</a></li>
    <li><a  routerLink="" class="text-dark">Reports</a></li>
    <li><a  routerLink="/dashboard/profile" class="text-dark">My Profile</a></li>
  </ul>
</div>


<div class="content">
  <ng-content></ng-content>
</div>
