/* You can add global styles to this file, and also import other style files */
/* Hero style colors */

:root {
    /* Hero style 1 colors start*/
    --custom-navbar-color: #5756A3;
    --nav-link-color: #fff;
    --custom-toggler: #e5e0e0;
    --hero-section-overlay: rgba(0, 0, 0, 0.5);
    --hero-section-p: #FFFFFF;
    --auth-buttons-primary:#FFFFFF;
    --auth-buttons-hover: #77ddce;
    --hero-section-primary:#5756A3;
    --hero-section-primary-hover:#77ddce;
    --hero-section-outline-light: #FFFFFF;
    --hero-section-outline-light-hover: #FFFFFF;
    --hero-section-btn-light: #FFFFFF;
    --hero-section-btn-light-hover: #77ddce;

    /* Hero style 2 colors start*/
    --custom-navbar: #5756A3;
    --custom-navbar-link:#fff;
    --custom-toggler-line:#e5e0e0;
    --custom-offcanvas: #5756A3;
    --custom-offcanvas-list-unstyled: #fff;
    --auth2-buttons-primary:#FF4F00;
    --auth-buttons-hover-border: #77ddce;
    --logo:#fff;
    --hero: #fff;
    --hero-content:#fff;
    --btn-primary-backgroud-color: #f13a0e;
    --btn-primary-color: #fff;

     /* Hero style 3 colors start*/
     --custom-navbar-vid: #fff;
     --custom-navbarvid-link:#333;
     --custom-toggler-backgroud: #666161;
     --custom-offcanvasvid:#bc3333;
     --custom-offcanvasvid-a:#fff;
     --auth-buttonsvid-primary:#fff;
     --auth-buttonsvid-primary-color:#FF4F00;
     --auth-buttons-btn-outline-primary:#d61e1e;
     --auth-buttonsvid-hover: #d61e1e;
     --logovid: #666161;
     --herovid: #fff;
     --hero-contentvid-color: #fff;
     --search-bar-button: red;
     --nav-link-a: #fff;
     --listing-p: gray;

      /* contact-button component start*/
      --section-title-color:#333;
      --badge-sale-background-color: #FF4F00;
      --badge-sale-color : #fff;
      --btn-primary-background-color: #77ddce;
      --btn-primary-color: #fff;
      --btn-primary-background-color-hover: #66cabd;
    
     /* image price name component start*/
    --listing-p-name: gray;
    --badge-background-color: red;
    --badge-color: #fff;
    --icon-color: #fff;

    /* login1 design component start*/
    --login-card-background: #fff;
    --h2-color: #333;
    --loginbtn-primary-background-color: #5756A3;
    --loginbtn-primary-hover: #77ddce;
    --text-primary: #007bff;

    /* login2 design component start*/
    --login-container-left-section: #f5f5f5;
    --login-container-right-section: #fff;
    --login-container-form-container-color: #fff;
    --login-container-form-container-color-h2: #333;
    --login-container-form-container-submitbtn: #673ab7;
    --login-container-form-container-submitbtn-hover: #5e33a6;
    --extra-options-forgot-password: #673ab7;
    --login-container-signup-promp-a: #673ab7;

    /* login3 design component start*/
    --btn-primary3-color: #5756A3;
    --btn-primary3-hover: #77ddce;
    --text-primary3: #007bff;

    /* signup1 design component start*/
    --btn-primary-sigup1: #5756A3;
    --btn-primary-sigup1-hover: #77ddce;
    --text-primary-signup1: #007bff;

     /* signup2 design component start*/
     --signup2-container-left-section: #f5f5f5;
     --signup2-container-right-section: #fff;
     --signup2-container-submit-button-bg-color: #673ab7;
     --signup2-container-submit-button-color:#fff;
     --signup2-container-submit-button-hover: #5e33a6;
     --signup2-container-login-prompt-a: #673ab7;

     /* signup3 design component start*/
     --signup3-card: #fff;
     --signup3-card-h2: #333;
     --signup3-card-btn-primary: #5756A3;
     --signup3-card-btn-primary-hover: #77ddce;
     --signup3-card-text-primary:#007bff;

      /* Dashboard navbar Style Colors */
      --navbar-bg-color: #bab1b1;
      --navbar-color: #f8f9fa;    
      --navbar-hover-color: #0056b3;
      --navbar-border-color: #e7e7e7; 
      --sidebar-color:#bab1b1;
      --sidebar-toggler-color:#4779c4;

        /* Dashboard invest-offer Style Colors */
      --header-section-h1: #333;
      --header-section-p: #666;
      --summary-card: #fff;
      --summary-card-h3:#007bff;
      --summary-card-p: #555;
      --investment-card: #fff;
      --investment-card-h5: #007bff;
      --investment-card-p: #555;
      --investment-card-small: #777; 
      --filter-options-select: #ddd; 
      --filter-options-button-bg: #007bff;
      --filter-options-button-color: white;
      --filter-options-hover: #0056b3;

       /* Dashboard home Style Colors */
       --card-title-icon-color: #333;
       --card-title-icon-i: #007bff;
       --image-caption: #333;
       --thead-dark-th-bg: #343a40;
       --thead-dark-th-color: #fff;
       --badge-success-bg: #28a745;
       --badge-success-color: #fff;
       --badge-warning-bg: #ffc107;
       --badge-warning-color: #000000;
       --badge-danger-bg: #dc3545;
       --badge-danger-color: #fff;
       --image-caption-color: #333;

        /* Admin styling */
       --poppins: 'Poppins', sans-serif;
       --lato: 'Lato', sans-serif;
     
       --light: #F9F9F9;
       --blue: #3C91E6;
       --light-blue: #CFE8FF;
       --grey: #eee;
       --dark-grey: #AAAAAA;
       --dark: #342E37;
       --red: #DB504A;
       --yellow: #FFCE26;
       --light-yellow: #FFF2C6;
       --orange: #FD7238;
       --light-orange: #FFE0D3;
       
  
  }
