/* You can add global styles to this file, and also import other style files */
/* Hero style colors */

:root {
    /* Hero style 1 colors start*/
    --custom-navbar-color: #5756A3;
    --nav-link-color: #fff;
    --custom-toggler: #e5e0e0;
    --hero-section-overlay: rgba(0, 0, 0, 0.5);
    --hero-section-p: #FFFFFF;
    --auth-buttons-primary:#FFFFFF;
    --auth-buttons-hover: #77ddce;
    --hero-section-primary:#5756A3;
    --hero-section-primary-hover:#77ddce;
    --hero-section-outline-light: #FFFFFF;
    --hero-section-outline-light-hover: #FFFFFF;
    --hero-section-btn-light: #FFFFFF;
    --hero-section-btn-light-hover: #77ddce;

    /* Hero style 2 colors start*/


   
      /* Dashboard Style Colors */
      --navbar-bg-color: #bab1b1; /* Background color for navbar */
      --navbar-color: #f8f9fa;    /* Text color for navbar */
      --navbar-hover-color: #0056b3; /* Hover color for navbar links */
      --navbar-border-color: #e7e7e7; /* Border color for navbar */
      --sidebar-color:#fff;
      --sidebar-toggler-color:#4779c4;
  


    /* Hero style colors end*/
    /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #f8f9fa;
    --background-color: #ffffff;
    --navbar-bg-color: #E814EB;
    --text-color: #333333;
    --navbar-text-color: #ffffff;
    --navbar-bg-color: #343a40;
    --sidebar-bg-color: #f8f9fa;
    --bernard:#dc3545; */
  }
